body{
	font-family: 'Graphik LCG';
	font-size: 18px;
	color: #333333;
	background-color: #E5E5E5;
}

a{
	text-decoration: none;
	color: #333333;
}

.container{
	max-width: 1110px;
	margin: 0 auto;
}

.header{
	min-height: 103px;
	box-sizing: border-box;
	border-bottom: 1px solid #333333;
	padding: 25px 0;
	background-color: #ffffff;
}

.header-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}

.header-container > .logo{
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: 52px;
	background-position: top 0 left 9px;
}

.header-container > .logo a{
	display: flex;
	align-items: center;
	font-size: 22px;
	padding-left: 69px;
	text-transform: uppercase;
	min-height: 52px;
}

.top-menu > .top-menu-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.top-menu > .top-menu-list > .top-menu-item{
	list-style: none;
	margin-left: 69px;
}

.top-menu > .top-menu-list > .top-menu-item:first-child{
	margin-left: 0;
}

.top-menu > .top-menu-list a{
	display: block;
	padding: 12px 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
}

.top-menu-item:last-child a{
	padding: 10px 56px 10px 0;
}

.content .slider{
	background-image: url("../images/bgnd-slider.png");
	background-repeat: no-repeat;
	background-position: top -103px center;
}

.slider > .container{
	position: relative;
	min-height: 975px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 255px 250px 100px;
	grid-template-areas: 
		".   ."
		"h2  text"
		"nav button";


}

.slider > .container h2{
	font-size: 52px;
	line-height: 75px;
	margin: 0;
	padding: 0;
	grid-area: h2;
	font-weight: 600;
	padding-right: 50px;
}

.slider-nav{
	grid-area: nav;
}

.slider-text{
	grid-area: text;
	padding-top: 20px;
	padding-right: 125px;
	line-height: 29px;
}

.slider-btn{
	grid-area: button;
}

.slider > .container div,
.slider > .container h2{
}

.slider-nav{
	display: flex;
	align-items: flex-end;
	padding-bottom: 25px;
	box-sizing: border-box;
}

.container > .slider-nav > .slider-circle{
	width: 10px;
	height: 10px;
	border: 1px solid #333333;
	border-radius: 50%;
	margin-right: 37px;
}

.container > .slider-nav > .current{
	background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #FFFFFF;;
}

.container > .slider-nav > .arrow{
	background-image: url("../images/Arrow 2.1.png");
	width: 111px;
	height: 9px;
	margin-left: 9px;
}

.container > .slider-btn{
	display: flex;
	align-items: flex-end;
}

.slider-btn-item{
	font-size: 13px;
	font-weight: 600;
	width: 240px;
	line-height: 21px;
	height: 54px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	
}


.blue-btn{
	
	border-radius: 3px;
	padding-left: 26px;
	background-image: url("../images/Arrow-white.png");
	background-repeat: no-repeat;
	background-position: center right 26px;
	background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
}

.blue-btn::after{
	content: url("../images/Arrow-white.png");
}

.blue-btn a{
	color: #ffffff;
}

.round{
	width: 49px;
	height: 48px;
	background-image: url("../images/round.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: 70px;
	left: 35px;
}

.square{
	width: 75px;
	height: 75px;
	background-image: url("../images/square.svg");
	background-repeat: no-repeat;
	position: absolute;
	bottom: 240px;
	left: 230px;
}

.big-round{
	width: 130px;
	height: 129px;
	background-image: url("../images/big-round.svg");
	background-repeat: no-repeat;
	position: absolute;
	bottom: 330px;
	right: -40px;
}

.mouse{
	width: 30px;
	height: 40px;
	background-image: url("../images/mouse.svg");
	background-repeat: no-repeat;
	position: absolute;
	bottom: 60px;
	right: 48%;
}

section{
	margin: 0;
}

.who-is{
	padding-top: 90px;
	padding-bottom: 107px;
}

.container > .benefits{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}

.container > h1{
	margin: 0;
	padding: 0;
	font-size: 45px;
	line-height: 73px;
}

.who-is-text{
	max-width: 805px;
	line-height: 33px;
	margin: 24px 0 0 0;

}

.benefit-item{
	display: flex;
	align-items: center;
	
}

.benefit-item:first-child .benefit-item-text{
	max-width: 202px;
}

.benefit-item-text{
	max-width: 141px;
	font-weight: 600;
}

.benefit-item > .round-item{
	width: 130px;
	height: 130px;
	background-image: url("../images/big-round.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 21px;
	font-size: 36px;
	line-height: 59px;
	font-weight: 600;
}

.white-btn{
	border-radius: 3px;
	border: 1px solid #005DE8;
	background-image: url("../images/blue-arrow.png");
	background-position: top 50% right 26px;
	background-repeat: no-repeat;
	width: 239px;
	margin-top: 55px;
}

.white-btn a{
	color: #005DE8;
	font-size: 14px;
	font-weight: 600;
	display: block;
	height: 54px;
	padding: 17px 26px;
	box-sizing: border-box;

}

.crypto-app{
	background-color: #1B1B1B;
	min-height: 464px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	background-image: url("../images/bgrd-app.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 120px 0 146px 0;
	box-sizing: border-box;
}

.crypto-app > .container h3{
	color: #ffffff;
	font-size: 36px;
	font-weight: 600;
	line-height: 59px;
	margin: 0;
}

.crypto-text{
	line-height: 33px;
}

.all-white-btn{
	border-radius: 3px;
	border: 1px solid #ffffff;
	background-image: url("../images/white-arrow.svg");
	background-position: top 50% right 26px;
	background-repeat: no-repeat;
	width: 239px;
	margin-top: 27px;
}

.all-white-btn a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	display: block;
	height: 54px;
	padding: 17px 26px;
	box-sizing: border-box;

}

.directions-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 238px;
	gap: 53px;
}

.directions-list > .direction-item{
	border-radius: 5px;
	box-sizing: border-box;
	padding-top: 55px;
	box-shadow: 0px 10px 30px 0px #0000000D;
	background-color: #ffffff;
}

.direction-item-text{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 105px;
}

.directions-list > .direction-item div{
	text-align: center;
	
}

.current-diretction-item{
	background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
	color: #ffffff;
}

.directions h3{
	font-size: 45px;
	line-height: 73px;
	font-weight: 600;
	margin: 90px 0 0 0;
	padding: 0;
}

.directions p{
	line-height: 33px;
	max-width: 805px;
	margin: 0;
	padding: 16px 0 70px 0;
}

.last-projects-pics{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.last-projects-pics > .last-projects-item{
	width: 328px;
	border-radius: 5px;
	height: 503px;
	display: grid;
	grid-template-rows: 180px 106px 200px;
	text-align: center;
	background-color: rgba(51, 51, 51, 0.6);
	background-repeat: no-repeat;
	background: blur(2.5px);
	-webkit-filter: blur(2.5px);
	-moz-filter: blur(2.5px);
}

.project-item-header{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	line-height: 21px;
}

.project-item-header,
.picture{
	display: flex;
	align-items: center;
	justify-content: center;
}

.last-projects-item > .text{
	line-height: 30px;
	color: #ffffff;
}

.web-case{
	background-image: url("../images/web-case.png");
}

.mobile-app{
	background-image: url("../images/mobile-app.png");
}

.web-and-mobile{
	background-image: url("../images/web-and-mobile.png");
}


@media screen and (min-width: 1921px){
	.content .slider{
		background-size: cover;
	}
}















